<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/new.css %>

<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('sheepicon.png' , size: '150x110'), "/" %>
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">投稿の情報を入力</h2>
    <%= form_with(model: @post, local: true) do |f| %>

    
    <%= render 'shared/error_messages', model: f.object %>
    

    <%# 商品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /商品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
         画像の説明（場所、おすすめポイントなど）
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

   

  


    <%# 注意書き %>
    <div class="caution">
      <p class="sentence">
        <a href="#">適切な画像、</a>
        <a href="#">説明である事を</a>
        を必ずご確認ください。
      </p>
      <p class="sentence">
       投稿には責任を持ち、誰がみても楽しめるものにしましょう。
        <a href="#">不適切な投稿</a>
        は犯罪であり処罰される可能性があります。
      </p>
      <p class="sentence">
         また、投稿をもちまして
        <a href="#">Pure NewZealand 規約</a>
        に同意したことになります。
      </p>
    </div>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる',post_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">Pure NewZealand利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('icon_camera.png' , size: '100x50'), "/" %>
    <p class="inc">
      ©︎Pure NewZealand,Inc.
    </p>
  </footer>
</div>