<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('sheepicon.png' , size: '150x110'), "/" %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">ニュージーランドの投稿の情報を入力</h2>
    <%= form_with(model: @post, local: true) do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%= render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# 商品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /商品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"（必須 40文字まで) 例）ニュージーランドの綺麗な景色と空気！", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
         画像の説明（場所、おすすめポイントなど）
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"items-text", id:"item-info", placeholder:"投稿画像の説明（必須 1,000文字まで）ニュージーランドの魅力を伝えましょう!!!  撮影した写真の場所も是非、書きましょう。      例）北島にあるマウントマウンガヌイの綺麗なビーチ。サーフィンやカヤックなど色んなアクティビティーが楽しめる素敵な所！" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

   
   

    

    <%# 注意書き %>
    <div class="caution">
      <p class="sentence">
        <a href="#">適切な画像、</a>
        <a href="#">説明である事を</a>
        を必ずご確認ください。
      </p>
      <p class="sentence">
        投稿には責任を持ち、誰がみても楽しめるものにしましょう。
        <a href="#">不適切な投稿</a>
        は犯罪であり処罰される可能性があります。
      </p>
      <p class="sentence">
        また、投稿をもちまして
        <a href="#">Pure NewZealand 規約</a>
        に同意したことになります。
      </p>
    </div>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">Pure NewZealand 利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('icon_camera.png' , size: '100x50'), "/" %>
    <p class="inc">
      ©︎Pure NewZealand,Inc.
    </p>
  </footer>
</div>